In [6]:
import pandas as pd

# Cargar archivo CSV
df = pd.read_csv("circuits.csv")

# Ver primeras filas
print(df.head())

# Ver dimensiones
print(f"Filas: {df.shape[0]}, Columnas: {df.shape[1]}")

   circuitId   circuitRef                            name      location  \
0          1  albert_park  Albert Park Grand Prix Circuit     Melbourne
1          2       sepang    Sepang International Circuit  Kuala Lumpur
2          3      bahrain   Bahrain International Circuit        Sakhir
3          4    catalunya  Circuit de Barcelona-Catalunya      Montmeló
4          5     istanbul                   Istanbul Park      Istanbul

     country       lat        lng  alt  \
0  Australia -37.84970  144.96800   10
1   Malaysia   2.76083  101.73800   18
2    Bahrain  26.03250   50.51060    7
3      Spain  41.57000    2.26111  109
4     Turkey  40.95170   29.40500  130

                                                 url
0  http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1  http://en.wikipedia.org/wiki/Sepang_Internatio...
2  http://en.wikipedia.org/wiki/Bahrain_Internati...
3  http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4         http://en.wikipedia.org/wiki/Istanbul_Park
Filas: 77, Columnas: 9

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     int64
 8   url         77 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 5.5+ KB

In [7]:
df.isnull()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
72,False,False,False,False,False,False,False,False,False
73,False,False,False,False,False,False,False,False,False
74,False,False,False,False,False,False,False,False,False
75,False,False,False,False,False,False,False,False,False
76,False,False,False,False,False,False,False,False,False

In [8]:
df.isnull().sum()

circuitId     0
circuitRef    0
name          0
location      0
country       0
lat           0
lng           0
alt           0
url           0
dtype: int64

In [27]:
cuadro1 = pd.DataFrame({
    "Latitud máxima": [df["lat"].max()],
    "Latitud mínima": [df["lat"].min()]
})

print(" Cuadro 1: Valores extremos de latitud")
print(cuadro1)

 Cuadro 1: Valores extremos de latitud
   Latitud máxima  Latitud mínima
0         57.2653        -37.8497

In [28]:
cuadro2 = df[["name", "country"]].head(10)

print(" Cuadro 2: Ejemplo de circuitos y sus países")
print(cuadro2)

 Cuadro 2: Ejemplo de circuitos y sus países
                             name    country
0  Albert Park Grand Prix Circuit  Australia
1    Sepang International Circuit   Malaysia
2   Bahrain International Circuit    Bahrain
3  Circuit de Barcelona-Catalunya      Spain
4                   Istanbul Park     Turkey
5               Circuit de Monaco     Monaco
6       Circuit Gilles Villeneuve     Canada
7   Circuit de Nevers Magny-Cours     France
8             Silverstone Circuit         UK
9                  Hockenheimring    Germany

In [29]:
cuadro3 = df["country"].value_counts().reset_index()
cuadro3.columns = ["País", "Cantidad de circuitos"]

print(" Cuadro 3: Cantidad de circuitos por país")
print(cuadro3.head(10))  # Muestra los 10 primeros

 Cuadro 3: Cantidad de circuitos por país
       País  Cantidad de circuitos
0       USA                     11
1    France                      7
2     Spain                      6
3     Italy                      4
4  Portugal                      4
5        UK                      4
6   Germany                      3
7   Belgium                      3
8    Canada                      3
9     Japan                      3

In [31]:
def clasificar_altitud(x):
    if pd.isna(x):
        return "Desconocida"
    elif x < 100:
        return "Baja"
    elif x <= 500:
        return "Media"
    else:
        return "Alta"


df["categoria_altitud"] = df["alt"].apply(clasificar_altitud)

print(" Nueva columna creada: 'categoria_altitud'")
print(df[["name", "country", "alt", "categoria_altitud"]].head(10))

 Nueva columna creada: 'categoria_altitud'
                             name    country  alt categoria_altitud
0  Albert Park Grand Prix Circuit  Australia   10              Baja
1    Sepang International Circuit   Malaysia   18              Baja
2   Bahrain International Circuit    Bahrain    7              Baja
3  Circuit de Barcelona-Catalunya      Spain  109             Media
4                   Istanbul Park     Turkey  130             Media
5               Circuit de Monaco     Monaco    7              Baja
6       Circuit Gilles Villeneuve     Canada   13              Baja
7   Circuit de Nevers Magny-Cours     France  228             Media
8             Silverstone Circuit         UK  153             Media
9                  Hockenheimring    Germany  103             Media